@font-face {
    font-family: 'Roboto_PL';
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
    font-family: 'Roboto_PL';
    font-size: 15px;
    background-color: whitesmoke;
}

body div {
    /* margin: 0px 50px 0px 50px; */
    margin: 0;
}

p {
    text-indent: 1.5%;
    text-align: justify;
}

hr {
    width: 50%;
}
