ol li ul {
    font-style: italic;
    font-size: 15px;
}

.gas {
    font-weight: bold;
}

h1, h2 {
    text-align: center;
}

#start :last-child {
    text-align: left;
}

.gas ul li a[target] {
    color: lightcoral;
}

.audi_first_img {
    width: 40%;
    position: relative;
    float: right;
}

.audi_second_img {
    width: 10%;
    height: auto;
    position: relative;
    float: left;
    border: 1%;
    border-style: solid;
}

.result {
    list-style: square url(../assets/cup.jpg);
}
