ol li ul {
    font-style: italic;
    font-size: 15px;
}

.gas {
    font-weight: bold;
}

h1, h2 {
    text-align: center;
}

#start :last-child {
    text-align: left;
}

.gas ul li a[target] {
    color: lightcoral;
}


